HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos binarios y grandes
*.exe
*.zip
*.tar
*.gz
*.rar
*.7z
*.sqlite
*.crdownload
*.msi

# Archivos temporales o de sistema
*.tmp
*.bak
*.log
*.swp
.DS_Store
Thumbs.db

# Carpeta de descargas si está dentro del proyecto (recomendado evitar)
Downloads/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
